<div class='welcome_msg'>
  <h1>Welcome to Feng Shui Jewellery</h1>
  <h4>The major jewellery in the world</h4>
</div>

<div class='tasks'>
  <h1>What do you want to do?</h1>
  <hr>
  <ul>
    <li><%= link_to 'Manage part types', part_types_url %></li>
    <li>Log In</li>
  </ul>
</div>