<h1><%= @items.size %> Results for "<%= params[:q] %>"</h1>
<hr>
<% if !@items.blank? %>
  
<ul id="search_results">
<% @items.each do |result| %> 
  <li><%= link_to result.title, item_path(result) %></li>
<% end %>
</ul>

<% else %>

<p>Nothing found.</p>
<p>Try using other words.</p>

<% end %>